#cabecalho {
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    color: #333;
    text-align: right;
}

#cabecalho {
    animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count: initial;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.subtitulo {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #333;
}

.subtitulo {
    animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count: initial;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-right: 0%;
        width: 100%;
    }
}


.tema {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #333;
    text-align: center;
}

.explore {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: 'Poppins', sans-serif;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #08ff5abd;
}


.jardim {
    max-width: 200px;
    max-height: 150px;
    width: auto;
    height: auto;
}

.corpo {
    width: 1420px;
    height: 400px;
    border: 10px solid green;
    padding: 10px;
    margin: 20px;
    border-radius: 1%;
    text-align: center;
    position: relative;
    font-family: 'Poppins', sans-serif;
}


/* Estilos CSS para o footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    text-align: center;
    padding: 10px 0;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    
}

/* Estilos para o link */
footer a {
    text-decoration: none;
    color: #FFFFFF;
}

/* Estilos para a imagem do ícone */
footer img {
    width: 24px;
    /* Tamanho do ícone */
    height: auto;
    /* Mantém a proporção original */
    vertical-align: middle;
    /* Alinha verticalmente com o texto */
    margin-left: 5px;
    /* Espaçamento à esquerda do ícone */
}

@media screen and (max-width: 768px){
    section, aside, h2{
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    nav li {
        float: none;
    }
}

@media screen and (max-width: 768px) {
    .corpo {
        width: auto;
        height: 1020px;
        text-align: center;
    }
}