#cabecalho {
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    color: #13274F;
    text-align: right;
}

#cabecalho {
    animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count: initial;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.subtitulo {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #13274F;
}

.tema {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #13274F;
    text-align: center;
}

.contato {
    font-family: 'Poppins', sans-serif;
    width: 100px;
    height: 50px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    color: #13274F;
    border-bottom-color: #13274F;
    background: white;
    transition: background 1s;
    margin-left: 40%;
    margin-right: auto;
    
}

.contato:hover,
.contato:focus {
    background: #13274F;
    color: white;
}

.jogos {
    font-family: 'Poppins', sans-serif;
    width: 100px;
    height: 50px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    color: #13274F;
    border-bottom-color: #13274F;
    background: white;
    transition: background 1s;
}

.jogos:hover,
.jogos:focus {
    background: #13274F;
    color: white;
}

.sobre {
    font-family: 'Poppins', sans-serif;
    width: 100px;
    height: 50px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    color: #13274F;
    border-bottom-color: #13274F;
    background: white;
    transition: background 1s;
}

.sobre:hover,
.sobre:focus {
    background: #13274F;
    color: white;
}